<div class="container">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th *ngFor="let column of displayedColumns">
                    <div class="sorting" *ngIf="column!==''">
                        {{ column }}
                        <button class="hide btn btn-primary" (click)="sortAscending(column)"><span
                                class="material-symbols-outlined">
                                sort
                            </span></button>
                        <button class="hide btn btn-info " (click)="sortDescending(column)"><span
                                class="material-symbols-outlined">
                                filter_list
                            </span></button>
                        <button class="hide btn btn-warning" (click)="unsort(column)"><span
                                class="material-symbols-outlined">
                                filter_list_off
                            </span></button>
                    </div>



                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let song of displayedRows">
                <td><input type="checkbox" [checked]="isSelected(song?.id)"
                        (change)="updateSelectedIds(song.id, $event)"> </td>
                <td><div class="text-overflow" [matTooltip]="song.songName">{{ song.songName }}</div></td>
                <td>{{ song.artistName }}</td>
                <td>{{ song.numberOfStreams }}</td>
                <td>{{ song.releaseYear }}</td>
                <td>
                    {{ (dateformat ? convertToMMSS(song.durationInSeconds) : song.durationInSeconds) }}
                </td>
            </tr>
        </tbody>
    </table>


    <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="[5,10,25,50]"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>


</div>