
.searchbar{
    border: 2px solid red;
}
.sorting{
    display: flex;
    gap: 2px;
    width: 100%;
    height: 150px;
}

.thead-light{
    width: 100%;
}
.thead-light th:hover .hide {
    display: flex;
   
    gap: 20px;
    height: 25% ;
    align-items: center;
    width: fit-content;
    border-radius: 15px;
    visibility:visible ;
  }

.hide {
    visibility: hidden;
    height: 100%;
    
 }

 .text-overflow {
    max-width: 25ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
 }