

.searchbar{
  display: flex;
 
  align-items:center;
}
form{
  display: flex;
  gap: 50px;
  padding-top: 25px;
}

.matInput{
  width: 100%;
 
}

input{
  width: 100%;
  height: 50%;
}




  

  



  