<div class="searchbar">



  <form [formGroup]="musicForm">
    <mat-form-field appearance="fill" action="">


      <mat-label>Song name</mat-label>
      <input matInput type="text" name="" id="text1" placeholder=" " formControlName="musicQuery" />

    </mat-form-field>

    <mat-form-field appearance="fill" action="">

      <mat-label>Artist name</mat-label>
      <input matInput type="text" name="" id="text2" placeholder=" " formControlName="artistQuery" />


    </mat-form-field>
  </form>
</div>