<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="searchbar">


    <div class="titlename">
        OnlySongs
      </div>
    <app-music-search></app-music-search>
    <div class="buttons">
        <button class="btn btn-success m-2" (click)="addButtonDialogue()"> Add </button> 
    <button class="btn btn-danger m-2" (click)="deleteSelected()" [disabled]="selectedIds.length==0 || selectedIds.length>5">Delete</button>
    <button class="btn btn-info m-2" (click)="switchFormat()"><span class="material-symbols-outlined">
        question_exchange
        </span></button>
    </div>
    
</div>
<app-music-table  [dateformat]="dateformat " (newItemEvent)="addItem($event)" ></app-music-table>



